div.colorpicker{
	width:80%;
	margin:0 auto;
}
div.gamedivWrapper{
	width:100%;
	margin: 0 auto;
}
div.gamediv{
border:1px solid black;
border-radius:5px;
float:left;
margin:1%;
width:48%;
height:250px;
}
.gameInstruction{
width:100%;
background-image:url('../image/gamebackground.jpg');
background-size:cover;
color:white;
padding:5px;
text-align: center;
margin-bottom: 10px;
}
.gameInstruction ol{
	width:50%;
	margin:0 auto;
}
input[type=range]{
width:100%;
}
.colorbar{
width:100%;
font-weight: bold;
font-size: 110%;
text-align: center;
}
.gamebtnWrapper{
	width:100%;
}
.gamebt{
float:left;
width:48%;
height:70px;
font-size: 2em;
margin:1%;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
-o-transition:all 0.4s;
transition:all 0.4s;
}
.showAns{
width:100%;
height:34px;
margin-top: 5px;
text-align: center;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
-o-transition:all 0.4s;
transition:all 0.4s;
position:relative;
overflow: hidden;
}
.showSpan{
text-align: center;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
-o-transition:all 0.4s;
transition:all 0.4s;
}
#mushroom{
	display:none;
	position:absolute;
	top:250px;
	left:50px;
	width:150px;
	height:150px;
}
#marioFlower{
	display:none;
	position:absolute;
	top:250px;
	right:20px;
    width:150px;
	height:150px;
}
@media screen and (min-width: 768px){
	.showSpan.bottom{
    top:34px;
}
.showAns:hover .top{
	position:relative;
	top:-34px;
}
.showAns:hover .bottom{
	position:relative;
	top:-30px;
}
}
@media screen and (max-width:768px){
	div.colorpicker{
		width:100%;
	}
	.gameInstruction ol{
	width:100%;
	margin:0 auto;
}
  div.gamediv{
  	height:100px;
  }
  .gamebt{
  	width:100%;
  	height:50px;
  	font-size: 1.5em;
  	margin-bottom: 5px;
  	margin-left:0;
  }
  .showAns .top{
  	position:relative;
	top:-34px;
  }
  .showAns .bottom{
  	position: relative;
  	top:-30px;
  }

}