div.colorpicker{
	width:80%;
	margin:0 auto;
}
div.gamediv{
border:1px solid black;
border-radius:5px;
display:inline-block;
width:47%;
height:250px;
margin-right:2%;
}
.gamebt{
width:47%;
height:100px;
font-size: 2em;
margin-left:1%;
margin-right:1%;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
-o-transition:all 0.4s;
transition:all 0.4s;
}
.gameInstruction{
width:100%;
background-image:url('../image/gamebackground.jpg');
background-size:cover;
color:white;
padding:5px;
text-align: center;
margin-bottom: 10px;
}
.gameInstruction ol{
	width:50%;
	margin:0 auto;
}
input[type=range]{
width:100%;
}
.colorbar{
width:100%;
}
.showAns{
width:100%;
height:34px;
float: left;
margin-top: 5px;
text-align: center;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
-o-transition:all 0.4s;
transition:all 0.4s;
position:relative;
overflow: hidden;
}
.showSpan{
position: absolute;
left:40%;
-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;
-o-transition:all 0.4s;
transition:all 0.4s;
}
.showSpan.top{
    top:5px;	
}
.showSpan.bottom{
    top:34px;
}
.showAns:hover .top{
	top:-34px;
}
.showAns:hover .bottom{
	top:5px;
	left:45%;
}
#mushroom{
	display:none;
	position:absolute;
	top:250px;
	left:50px;
}
#marioFlower{
	display:none;
	position:absolute;
	top:250px;
	right:20px;
	width:200px;
	height:200px;
}
@media screen and (max-width:768px){
	div.colorpicker{
		width:100%;
	}
	.gameInstruction ol{
	width:100%;
	margin:0 auto;
}
  div.gamediv{
  	height:100px;
  }
  .gamebt{
  	width:100%;
  	height:70px;
  	margin-bottom: 5px;
  	margin-left:0;
  }
  .showAns:hover .bottom{
	top:5px;
	left:35%;
}
.showSpan{
left:30%;
}
}