 <div class="intro col-xs-12">   
    <h1 class="animated fadeIn">WELCOME TO ANDY'S FACTORY!</h1>
    <img id="factory"src="image/factory.png" alt="factory logo" class="image_center animated bounceInLeft">
    <br>
    <h1 class="animated bounceInLeft">WHAT WE PRODUCE...</h1>
    <br>
    <div class="intro_art aniview" av-animation="rollIn">
     <img src="image/thumbnails/gallery.jpg" alt="gallery image" class="img-circle image_center">
     <h2>AWESOME ARTWORK!</h2>
     <hr>
    </div>
    <div class="intro_game aniview" av-animation="bounceInUp">
     <img src="image/flying-mario.jpg" alt="game image" class="img-rounded image_center">
     <h2>SIMPLE BUT ADDICTING GAMES!</h2>
     <hr>
    </div>
    <br>
    <div class="intro_other aniview" av-animation="bounceIn">
    	<h1>WHAT YOU CAN ALSO FIND...</h1>
    	<img src="image/folder.png" alt="folder icon" >
    	<img src="image/luffy.png" alt="luffy icon">
    	<h2>MY PORTFOLIO  &  MORE ABOUT ME!</h2>
        <img src="image/type.jpg" alt="type certification" id="typing"/>
    	<p style="text-align:center"><span class="glyphicon glyphicon-flag"></span>Find something draggable in GAME (PC Only) and hidden text in ABOUT!</p>
    </div>
   


    <div class="hidden-xs">
    <h3 style="clear:both">LEAVE YOUR FEEDBACK HERE...</h3>
<div class="fb-comments" data-href="http://www.andyhch.com" data-width="550" data-numposts="10"></div>
</div>
<br>






</div>